[data_1]
data_path = "c:/Users/Zayan/Documents/code/personal_repos/neural_nets/ECE_8770/project_2/data/msft_stock/msft_stock_close.csv"
column = "Close"

[data_2]
data_path = "c:/Users/Zayan/Documents/code/personal_repos/neural_nets/ECE_8770/project_2/data/online+retail/quantity_per_time_data.csv"

[training]
batch_size = 32
epochs = 100
training_portion = 0.8
optimizer = {type = "sgd", learning_rate = 0.001}
criterion = "MSE"

  [training.k_fold]
  status = false
  n_folds = 5

[model]
type = 'rnn' # Type ('rnn', 'gru', 'lstm')
num_layers = 1
hidden_size = 512
sequence_length = 20
future_strategy = "many_to_one" # options: ['many_to_one', 'sequential', 'fixed_window']
prediction_window = 4 # Number of time steps to predict (only applied if future_strategy == 'fixed_window')

[output]
results_dir = "c:/Users/Zayan/Documents/code/personal_repos/neural_nets/ECE_8770/project_2/results"




