# Ignore Python cache files
__pycache__/

# Ignore system files
*.pyc
*.pyo
*.pyd

# Ignore model files
*.pth
*.pt
checkpoints/

# Ignore saved model directories
/ECE_7870/models/
/ECE_8770/project_1/models/


# Ignore data files
*.csv
*.h5
*.npz
/data/
/results/
/ECE_8770/project_2/results

# Ignore virtual environment
venv/
.venv/
env/
ENV/

# tensorboard log directories
runs/

# IDE editor config
.vscode/
.idea/

