# Ignore Python cache files
__pycache__/

# Ignore system files
*.pyc
*.pyo
*.pyd

# Ignore model files
*.pth
*.pt

# Ignore saved model directories
/models/

# Ignore data files
*.csv
*.h5
*.npz
/data/
/results/

# Ignore virtual environment
venv/
